html,
body,
* {
     box-sizing: content-box;
     clear: none;
     padding: 0;
     margin: 0;
}

html,
body,
table,
p {
     font-style: normal;
     font-size: 16px;
     border-spacing: 0;
}

nav,
main {
     padding: 0 6px;
}
nav {
     margin-bottom: 6px;
}

.navbar {
     line-height: 50px;
     height: 50px;
}

#logo {
     background-image: url(lumo.svg);
     padding-left: 50px;
     background-repeat: no-repeat;
}

body {
     font-family: 'open sans', sans-serif;
}

.bg-gray {
     background-color: #eee;
}

.b-b {
     border-bottom: solid 1px #888;
}

.b-a {
     border: solid 1px #888;
}

a {
     text-decoration: none;
     color: #666;
}

a:hover {
     color: #000;
}

.box {
     display: flex;
}

.fill {
     flex-grow: 1;
}
